USE [master]
GO
/****** Object:  Database [DATABASEINTEG]    Script Date: 9/7/2022 7:58:54 PM ******/
CREATE DATABASE [DATABASEINTEG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DATABASEINTEG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\DATABASEINTEG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DATABASEINTEG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\DATABASEINTEG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DATABASEINTEG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DATABASEINTEG]
GO
/****** Object:  Table [dbo].[Administrador]    Script Date: 9/7/2022 7:58:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrador](
	[ID_administrador] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_Admin] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_administrador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Base_de_Datos]    Script Date: 9/7/2022 7:58:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base_de_Datos](
	[ID_BSD] [int] IDENTITY(1,1) NOT NULL,
	[Nombre_BSD] [char](20) NOT NULL,
	[Cantidad_tablas] [int] NOT NULL,
	[ID_tablaBSD] [int] NOT NULL,
	[ID_tablatemp] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_BSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campo_Solicitado]    Script Date: 9/7/2022 7:58:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campo_Solicitado](
	[ID_campo] [int] IDENTITY(1,1) NOT NULL,
	[Color_campo] [char](20) NOT NULL,
	[Campo_size] [int] NOT NULL,
	[Backround_color] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_campo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla_BSD]    Script Date: 9/7/2022 7:58:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_BSD](
	[ID_tablaBSD] [int] IDENTITY(1,1) NOT NULL,
	[Nombretabla] [varchar](20) NOT NULL,
	[Cantidad_campos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_tablaBSD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabla_temporal]    Script Date: 9/7/2022 7:58:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabla_temporal](
	[ID_tablatemp] [int] IDENTITY(1,1) NOT NULL,
	[Nombretabla] [varchar](20) NOT NULL,
	[Cantidad_campos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_tablatemp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Base_de_Datos]  WITH CHECK ADD  CONSTRAINT [FK_ID_tablaBSD] FOREIGN KEY([ID_tablaBSD])
REFERENCES [dbo].[Tabla_BSD] ([ID_tablaBSD])
GO
ALTER TABLE [dbo].[Base_de_Datos] CHECK CONSTRAINT [FK_ID_tablaBSD]
GO
ALTER TABLE [dbo].[Base_de_Datos]  WITH CHECK ADD  CONSTRAINT [FK_ID_tablatemp] FOREIGN KEY([ID_tablatemp])
REFERENCES [dbo].[Tabla_temporal] ([ID_tablatemp])
GO
ALTER TABLE [dbo].[Base_de_Datos] CHECK CONSTRAINT [FK_ID_tablatemp]
GO
USE [master]
GO
